<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.8" targetFramework="net46" />
  <package id="AutoFixture" version="3.50.1" targetFramework="net46" />
  <package id="coveralls.io" version="1.3.4" targetFramework="net451" />
  <package id="FakeN.Web" version="1.0.4608.14607" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.2.1" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="1.2.1" targetFramework="net46" />
  <package id="Microsoft.Net.Compilers" version="2.3.1" targetFramework="net46" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Testing" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.2.4" targetFramework="net46" />
  <package id="MongoDB.Driver" version="2.2.4" targetFramework="net46" />
  <package id="MongoDB.Driver.Core" version="2.2.4" targetFramework="net46" />
  <package id="Moq" version="4.2.1507.0118" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="NUnit" version="3.5.0" targetFramework="net46" />
  <package id="NUnit.ConsoleRunner" version="3.5.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.5.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net46" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net46" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net46" />
  <package id="NUnit.Runners" version="3.5.0" targetFramework="net46" />
  <package id="OpenCover" version="4.6.166" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="structuremap" version="4.2.0.402" targetFramework="net46" />
  <package id="System.AppContext" version="4.0.0" targetFramework="net46" />
  <package id="System.Collections" version="4.0.10" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net46" />
  <package id="System.Diagnostics.Debug" version="4.0.10" targetFramework="net46" />
  <package id="System.Diagnostics.StackTrace" version="4.0.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tools" version="4.0.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net46" />
  <package id="System.IO" version="4.0.10" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.0.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.0" targetFramework="net46" />
  <package id="System.Linq" version="4.0.0" targetFramework="net46" />
  <package id="System.Linq.Expressions" version="4.0.10" targetFramework="net46" />
  <package id="System.Reflection" version="4.0.10" targetFramework="net46" />
  <package id="System.Reflection.Extensions" version="4.0.0" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.2.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net46" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net46" />
  <package id="System.Runtime.Handles" version="4.0.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.0.20" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.0.0" targetFramework="net46" />
  <package id="System.Threading" version="4.0.10" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.0.10" targetFramework="net46" />
</packages>